/* ----------------- Main ----------------- */
/* Loading panel */
.dxheLoadingDiv_PlasticBlue
{
    background: white;
    opacity: 0.85;
    filter: alpha(opacity=85);
    cursor: wait;
}
.dxheLoadingPanel_PlasticBlue
{
	font: 9pt Tahoma, Verdana, Arial;
	color: #303030;
}
.dxheLoadingPanel_PlasticBlue td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}

.dxheControl_PlasticBlue
{
    border: Solid 1px #2C4182;
}

/* Area */
.dxheContentArea_PlasticBlue
{
    padding: 4px;
	padding-bottom: 6px;
    background-color: #E5E7F0;
}
.dxheViewArea_PlasticBlue
{
    border: Solid 1px #CCCCCC;    
}
.dxheHtmlViewEdit_PlasticBlue, .dxheDesignViewArea_PlasticBlue, .dxhePreviewArea_PlasticBlue 
{
    margin: 0px;
    background-color: #FFFFFF;
    background-image: none;
    text-align: left;
    font-size: smaller;
    font: normal 12px Arial;
}
td.dxheHtmlViewEdit_PlasticBlue, body.dxheDesignViewArea_PlasticBlue, body.dxhePreviewArea_PlasticBlue
{
    padding: 0px;
    padding-left: 4px;
    padding-bottom: 0px;
}
/* Status Bar */
.dxheStatusBar_PlasticBlue 
{
}
.dxheStatusBarTab_PlasticBlue 
{    
}
.dxheStatusBarActiveTab_PlasticBlue 
{
}

/* ----------------- Dialog Forms ----------------- */
#insertLinkForm .buttonsCell, #insertImageForm .buttonsCell, #pasteFromWordForm .buttonsCell
{
	font: 9pt Tahoma;
	color: #909090;
	background-color: #E9E9E9;
	border-style: none;
	border-top: solid 1px #E0E0E0;	
	
	background-image: url('dfFooterBack.gif');
    background-repeat:no-repeat;
	
    padding: 11px;
}
#insertLinkForm .captionIndent, #insertImageForm .captionIndent
{
	overflow: hidden;
	height: 5px;
}
#insertLinkForm .contentCell, #insertImageForm .contentCell, #pasteFromWordForm .contentCell
{
	padding: 11px;
}
#insertLinkForm .typeRadionButtonListCell, #insertImageForm .typeRadionButtonListCell
{
	padding-bottom: 12px;
}
#insertLinkForm .separatorCell, #insertImageForm .separatorCell
{
	height: 7px;
}
#insertLinkForm .buttons, #insertImageForm .buttons
{
    padding-top: 3px;
}
#insertLinkForm .cancelButton, #insertImageForm .cancelButton, #pasteFromWordForm .cancelButton
{
    padding-left: 10px;
}
/* Insert Link Form */
#insertLinkForm .displayPropertiesCell 
{
    font-weight: bold;
    padding-top:10px;
    padding-bottom: 10px;
}
#insertLinkForm .targetCheckBoxCell
{
    padding-top:10px;
}
#insertLinkForm .captionCell
{
    padding-right: 9px;
    padding-top: 3px;
    vertical-align: top;
    white-space: nowrap;
}
#insertLinkForm .inputCell
{
    vertical-align: middle;
}
/* Insert Image Form */
#insertImageForm .fieldSeparator 
{
    height: 9px;
}
#insertImageForm .imagePreview
{
    padding: 10px 0px;
    padding-top: 5px;
}
#insertImageForm .fromTheWeb
{
    width: 100%;
}
#insertImageForm .imagePreviewCell
{
    color: #878787;
    border: dashed 1px #cac8c8;
    text-align:center;
    width: 100%;
    height: 170px;
}
#insertImageForm .imagePropertiesCell
{
    padding-left: 20px;
    vertical-align:top;
}
#insertImageForm .moreOptionsCell
{
	padding-top: 11px;
}
#insertImageForm .radioButtonTable
{
	width: 317px;
}
#insertImageForm .saveToServerCheckBoxCell
{
    padding-top:0px;
    padding-bottom: 13px;
}
/* Image Properties Form */
#imagePropertiesForm .captionCell
{
    padding-right: 2px;
}
#imagePropertiesForm .imageSizeEditorsCell
{
    padding-top: 7px;
    padding-bottom: 10px;
}
#imagePropertiesForm .pixelSizeCell
{
    padding-left: 7px;
}
#imagePropertiesForm .hSeparator
{
    width: 25px;
    overflow: hidden;
}
#imagePropertiesForm .thumbnailFileNameArea
{
    padding-top: 8px;
}
/* IE, FireFox, WebKit*/
#imagePropertiesForm .ckbWrapTextCell div
{
	margin-left: -4px;
	padding-top: 2px;
}
/* Opera hack */
@media not all and (-webkit-min-device-pixel-ratio) {   
	#imagePropertiesForm .ckbWrapTextCell div
	{
		margin-left: 0px;
	}
}

/* PasteFromWord Form */
#pasteFromWordForm .pasteContainer
{
	width: 450px;
	height: 300px;
	border: none;
	background-color: white;
}
#pasteFromWordForm .pasteContainerCell
{
	padding:0px;
	padding-top: 10px;
}
#pasteFromWordForm .pasteContainerCell td
{
	border: Solid 1px #B8B8B8;
}
#pasteFromWordForm .checkBoxCell
{
	padding-top: 10px;
}
#pasteFromWordForm .contentCell 
{
	padding-left: 20px;
	padding-right: 20px;
}
/*----------------- Toolbars -----------------*/
.dxtbSpacing_PlasticBlue
{
	height: 1px;
}
.dxtbControl_PlasticBlue 
{
	font: 9pt Tahoma;
	color: black;
	background-color: #2C4182;
    border-bottom: Solid 1px #2C4182;
}

.dxtbMenu_PlasticBlue
{
	font: 9pt Tahoma;
	color: white;
	background-color: #2C4182;
	background-image: url('tbItemBack.gif');	
    background-repeat: repeat-x;
    background-position: left top;
	border-style: none;
	padding: 0px;
}
.dxtbMenuSeparator_PlasticBlue
{
    width: 2px!important;    
    background-image: url('tbSeparatorHor.gif');
    background-position: left top;
    background-repeat: repeat-y;
}
.dxtbMenuItem_PlasticBlue, .dxtbMenuItemWithImage_PlasticBlue, .dxtbMenuItemWithPopOutImage_PlasticBlue, .dxtbMenuItemWithImageWithPopOutImage_PlasticBlue
{
	font: 9pt Tahoma;
	color: white;
	white-space: nowrap;
	border-width: 0px;
	
	background-color: #3E5496;
	background-image: url('tbItemBack.gif');	
    background-repeat: repeat-x;
    background-position: left top;
}
.dxtbMenuItem_PlasticBlue, .dxtbMenuItemWithImage_PlasticBlue
{
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;	
}
.dxtbMenuItemWithPopOutImage_PlasticBlue, .dxtbMenuItemWithImageWithPopOutImage_PlasticBlue
{
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;	
}	
.dxtbComboBoxMenuItem_PlasticBlue
{
    padding-top: 3px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
}
.dxtbMenuItemSelected_PlasticBlue, .dxtbMenuItemSelectedWithImage_PlasticBlue, .dxtbMenuItemSelectedWithPopOutImage_PlasticBlue, .dxtbMenuItemSelectedWithImageWithPopOutImage_PlasticBlue
{
	color: White;	

	background-color: #273A79;
	background-image: url('tbItemSBack.gif');	
    background-repeat: repeat-x;
    background-position: left top;
}
.dxtbMenuItemSelected_PlasticBlue, .dxtbMenuItemSelectedWithImage_PlasticBlue
{
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;	
}
.dxtbMenuItemSelectedWithPopOutImage_PlasticBlue, .dxtbMenuItemSelectedWithImageWithPopOutImage_PlasticBlue
{
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;	
}

.dxtbMenuItemChecked_PlasticBlue, .dxtbMenuItemCheckedWithImage_PlasticBlue, .dxtbMenuItemCheckedWithPopOutImage_PlasticBlue, .dxtbMenuItemCheckedWithImageWithPopOutImage_PlasticBlue
{
	color: White;	

	background-color: #273A79;
	background-image: url('tbItemSBack.gif');	
    background-repeat: repeat-x;
    background-position: left top;
}
.dxtbMenuItemChecked_PlasticBlue, .dxtbMenuItemCheckedWithImage_PlasticBlue
{
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;	
}
.dxtbMenuItemCheckedWithPopOutImage_PlasticBlue, .dxtbMenuItemCheckedWithImageWithPopOutImage_PlasticBlue
{
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;	
}	

.dxtbMenuItemHover_PlasticBlue, .dxtbMenuItemHoverWithImage_PlasticBlue, .dxtbMenuItemHoverWithPopOutImage_PlasticBlue, .dxtbMenuItemHoverWithImageWithPopOutImage_PlasticBlue
{
	color: #FFFFFF;
	
	background-color: #E9E9E9;
	background-image: url('tbItemHBack.gif');	
    background-repeat: repeat-x;
    background-position: left top;
}
.dxtbMenuItemHover_PlasticBlue, .dxtbMenuItemHoverWithImage_PlasticBlue
{
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;	
}
.dxtbMenuItemHoverWithPopOutImage_PlasticBlue, .dxtbMenuItemHoverWithImageWithPopOutImage_PlasticBlue
{
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;	
}

.dxtbSubMenu_PlasticBlue
{
	font: 9pt Tahoma;
	color: black;
	background-color: #CCCCCC;
	border: solid 1px #CCCCCC;
	
	border-bottom-width: 0px;
	padding: 0px 0px 0px 0px;
}

.dxtbSubMenuBorderCorrector_PlasticBlue
{
    position: absolute;
    border: 0px;
    padding: 0px;
}

/* ToolbarColorButton */
.dxtcbControl_PlasticBlue
{
	border-collapse:collapse;
	border-width: 0px;
}
.dxtcbControl_PlasticBlue td
{
	/*padding: 1px;	*/
}
.dxtcbImageCell_PlasticBlue, .dxtcbColorCell_PlasticBlue
{
	height:0px;
}
.dxtcbColorDiv_PlasticBlue
{
	width: 16px;
	height: 4px;
	font-size:0pt;
	background-color: Red;
}
/*----------------- ColorPicker -----------------*/
.dxeColorPicker_PlasticBlue 
{
    background-color: #F6F6F6;
}
.dxeColorPicker_PlasticBlue td.dx
{
    padding: 2px;
}
/* TODO ColorPickerCellStyle */
.dxeColorPicker_PlasticBlue table td {
    padding-left: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-right: 3px;
    cursor: pointer;
    cursor: hand;
}
/* TODO ColorPickerBoxStyle */
.dxeColorPicker_PlasticBlue table div {
    border: solid 1px #2C4182;
    width: 12px;
    height: 12px;
    font-size: 0px;
}

.dxeColorPickerCellSelected_PlasticBlue {
    padding-left: 2px!important;
    padding-bottom: 2px!important;
    padding-top: 2px!important;
    padding-right: 2px!important;
	
    border: solid 1px #2C4182;
	background-color: #DEDEDE;
}
.dxeColorPickerCellHover_PlasticBlue {
    padding-left: 2px!important;
    padding-bottom: 2px!important;
    padding-top: 2px!important;
    padding-right: 2px!important;
	
    border: solid 1px #2C4182;
	background-color: #E9E9E9;
}

/*----------------- RoundPanel -----------------*/
.dxheRPControl_PlasticBlue td.dxheRP
{
	font-size: 9pt;
	font-family: Tahoma, Verdana, Arial;
	color: #000000;	
}
/* Header */
.dxheRPHeader_PlasticBlue, .dxrpHeader_PlasticBlue td.dxheRP
{
    font-size: 13px;
    font-weight: bold;
	font-family: Tahoma, Verdana, Arial;    
	color: #313131;
	text-align:left;	
}
/* Disabled */
.dxheRPDisabled_PlasticBlue, .dxheRPDisabled_PlasticBlue td.dxheRP
{
	color: #808080;
	cursor: default;
}

/*----------------- UploadControl -----------------*/
.dxheucControl_PlasticBlue, .dxheucEditArea_PlasticBlue
{
    font: 9pt Tahoma, Verdana, Arial;
}
.dxheucErrorCell_PlasticBlue
{
    padding-left: 4px;
    font: 10px Tahoma, Verdana, Arial;
    color: #A91123;
    text-align: left;
}