<?xml version="1.0" encoding="utf-8" ?>
<Demos Name="HeThongThiGiayPhepLaiXe" ColumnCount="3" Title="Hệ Thống Thi Giấy Phép Lại Xe Đường Bộ" TitleFormatString="{2} - {0}">
  
    <DemoGroup Text="Trang chủ" Caption="He Thong Thi Giay Phep Lai Xe - Chi tiet..." BeginCategory="true">
        <Demo Text="Bảng điều kiển" NavigateUrl="~/Default.aspx" UseFullTitle="false" Title="Hệ thống sát hạch giấy phép lại xe đường bộ">
            <GeneralTerms ShowHeader="false" >
                <p>
                    <b>Giới thiệu hệ thống</b>
                </p>

                <p>
                  Ngày nay, với sự phát triển của Công nghệ thông tin, ngành tin học đã trở thành một trong những ngành khoa học quan trọng đã và đang được sử dụng rộng rãi trong mọi lĩnh vực, vì thế, sử dụng máy tính thì việc lưu trữ, xử lý số liệu một cách dễ dàng, thuận tiện, nhanh chóng và đạt được độ chính xác cao.
                </p>

                <p>Trong bối cảnh như vậy cùng với tình trạng thiếu trầm trọng các trung tâm sát hạch thi giấy phép lái xe, hệ thống website thi giấy phép lái xe đường bộ được xây dựng nhằm đưa toàn bộ việc lưu trữ,xử lý số liệu trên máy và đáp ứng nhanh và kịp thời nhu cầu về giấy phép lái xe cho người dân.Với hệ thống này người sử dụng không cần kiến thức về chuyên môn cao mà vẫn có thể sử dụng và khai thác hệ thống một cách hiệu quả.</p>

                <p>
                  Hệ thống còn cho phép phân quyền theo nhóm người dùng nhằm quản lý thông tin, dữ liệu về việc thi sát hạch giấy phép lái xe đường bộ một cách an toàn và hiệu quả hơn.Ngoài ra hệ thống còn cho phép lấy đề thi một cách ngẫu nhiên với đầy đủ loại câu hỏi dựa vào cấu trúc đề thi nhằm hạn chế tiêu cực trong quá trình thi và thể hiện được tính chính xác trong bài làm của thí sinh.
                </p>
                <br/>
                <hr noshade="noshade" />
                
            </GeneralTerms>
         
        </Demo>
    </DemoGroup>

    <DemoGroup Text="Quản lý hệ thống" ImageUrl="~/Images/TitleImages/GridView.png" ImageWidth="76px" ImageHeight="76px" BeginCategory="true">
        <Demo Text="Quản lý người dùng" NavigateUrl="~/HeThong/qlnguoidung.aspx" Section="1" Title="Quản lý người sử dụng hệ thống">
            <GeneralTerms ShowHeader="false">
                
            </GeneralTerms>
            <Description>
            </Description>
        </Demo>
      <Demo Text="Quản lý nhóm người dùng" NavigateUrl="~/HeThong/qlnhomnguoidung.aspx" Section="2" Title="Quản lý nhóm người sử dụng hệ thống">
        <GeneralTerms ShowHeader="false">

        </GeneralTerms>
        <Description>
        </Description>
      </Demo>
      <Demo Text="Quản lý quyền" NavigateUrl="~/HeThong/qlquyen.aspx" Section="1" Title="Quản lý quyền sử dụng hệ thống">
        <GeneralTerms ShowHeader="false">

        </GeneralTerms>
        <Description>
        </Description>
      </Demo>
      <Demo Text="Quản lý chi tiết quyền" NavigateUrl="~/HeThong/qlchitietquyen.aspx" Section="1" Title="Quản lý chi tiết quyền sử dụng hệ thống">
        <GeneralTerms ShowHeader="false">

        </GeneralTerms>
        <Description>
        </Description>
      </Demo>
    </DemoGroup>

    <DemoGroup Text="Quản lý đề thi" ImageUrl="~/Images/TitleImages/GridView.png" ImageWidth="76px" ImageHeight="76px">
        <Demo Text="Quản lý câu hỏi" NavigateUrl="~/DeThi/qlcauhoi.aspx" Title="Quản lý câu hỏi">
            <Description>
              
            </Description>
        </Demo>
      <Demo Text="Quản lý loại câu hỏi" NavigateUrl="~/DeThi/qlloaicauhoi.aspx" Title="Quản lý các loại câu hỏi có trong hệ thống">
        <Description>

        </Description>
      </Demo>
        <Demo Text="Quản lý loại bằng lái" NavigateUrl="~/DeThi/qlloaibanglai.aspx" Title="Quản lý các loại bằng lái trong hệ thống">
            <Description>
              
            </Description>
        </Demo>
      <Demo Text="Quản lý cấu trúc đề thi" NavigateUrl="~/DeThi/qlcautrucdethi.aspx" Title="Quản lý cấu trúc đề thi trong hệ thống">
        <Description>

        </Description>
      </Demo>
      <Demo Text="Quản lý câu hỏi loại bằng lái" NavigateUrl="~/DeThi/qlcauhoiloaibang.aspx" Title="Quản lý câu hỏi thuộc loại bằng lái nào trong hệ thống">
        <Description>

        </Description>
      </Demo>
    </DemoGroup>
  
    <DemoGroup Text="Điểm Thi" ImageUrl="~/Images/TitleImages/GridView.png" ImageWidth="76px" ImageHeight="76px">
        <Demo Text="Thông tin điểm thi" NavigateUrl="~/DiemThi/diemthi.aspx" Title="Danh sách các điểm thi bằng lái xe">
            <Description>
            
            </Description>
        </Demo>
        <Demo Text="Thông tin phòng thi" NavigateUrl="~/DiemThi/phongthi.aspx" Title="Bind to Data Using LINQ Sources - ASP.NET DataGrid Control">
            <Description>
            </Description>
        </Demo>
        <Demo Text="Thông tin đợt thi" NavigateUrl="~/DiemThi/dotthi.aspx" Title="Handle Large Datasets, Bind Using LINQ - Grid and Editors for ASP.NET">
            <Description>
            </Description>
        </Demo>
      <Demo Text="Thông tin ca thi" NavigateUrl="~/DiemThi/cathi.aspx" Title="Handle Large Datasets, Bind Using LINQ - Grid and Editors for ASP.NET">
        <Description>
        </Description>
      </Demo>
    </DemoGroup>
  
    <DemoGroup Text="Hồ sơ thí sinh" ImageUrl="~/Images/TitleImages/GridView.png" ImageWidth="76px" ImageHeight="76px">
        <Demo Text="Tiếp nhận hồ sơ" NavigateUrl="~/HoSoThiSinh/thisinh.aspx" Title="Filter Row - ASP.NET Grid and Data Editors">
            <Description>
           
            </Description>
        </Demo>        
    </DemoGroup>
  
    <DemoGroup Text="Tổ chức đợt thi" ImageUrl="~/Images/TitleImages/GridView.png" ImageWidth="76px" ImageHeight="76px">
        <Demo Text="Phân công coi thi" NavigateUrl="~/ToChucDotThi/phancongcoithi.aspx" Title="Total Summary Calculation - AJAX DataGrid for ASP.NET">
            <Description>
           
            </Description>
        </Demo>
        <Demo Text="Điểm danh thí sinh" NavigateUrl="~/ToChucDotThi/diemdanhthisinh.aspx" Title="Group Summary Calculation - ASP.NET Grid Control">
            <Description>
                <p>
                    A <b>Group summary</b> represents a value of an aggregate function calculated across all data rows within a group.
                </p>
                <p>
                    <b>Group summaries</b> are displayed within group rows.
                </p>
                <p>
                    The ASPxGridView stores its group summaries within the <b>GroupSummary</b> collection. Individual items are represented by <b>ASPxSummaryItem</b> objects.
                </p>
            </Description>
        </Demo>      
    </DemoGroup>
  <DemoGroup Text="Đề Thi" ImageUrl="~/Images/TitleImages/GridView.png" ImageWidth="76px" ImageHeight="76px">
    <Demo Text="Đề Thi" NavigateUrl="~/DeThi.aspx" Title="Filter Row - ASP.NET Grid and Data Editors">
      <Description>

      </Description>
    </Demo>
  </DemoGroup>

  
  <!--Phầm Menu Cho Tutorials Không  sữa phần này nhé -->
  
    <DemoGroup Text="" Visible="false">
        <Demo Text="Site Map" NavigateUrl="~/SiteMap.aspx" UseFullTitle="false" Title="Developer Express - ASP.NET GridView Control - Demo Center Site Map">
            <GeneralTerms ShowHeader="false" />
            <Description ShowHeader="false" />
        </Demo>
    </DemoGroup>
</Demos>